@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1e2125;

  --primary-text: #e9dfce;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e2125;
    --foreground: #ededed;
    --primary-text: #e9dfce;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

