@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-outline {
    -webkit-text-stroke: 2px currentColor;
    color: transparent;
  }
}

:root {
  --background: #ffffff;
  --foreground: #1e2125;

  --primary-text: #e9dfce;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e2125;
    --foreground: #ededed;
    --primary-text: #e9dfce;

    --header-text: "Playfair Display", serif;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.border_text {
  color: var(--background);
  -webkit-text-stroke: 1px var(--primary-text);
  font-style:italic;
}

.custom_text_gradient {
  background: linear-gradient(#e9dfce, #caa35f);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom_text_gradient_radial {
  background: radial-gradient(#e9dfce, #caa35f);
  background-clip: text;  /* Do not need webkit for background-clip */
  -webkit-text-fill-color: transparent;
}



